includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../controllers
  excludePaths:
    - vendor/
  reportUnmatchedIgnoredErrors: false
  level: max
